@import "tailwindcss";

body {
    background-color: black;
}


.shadow-gold {
    box-shadow: 0 1px 20px 1px rgba(212, 175, 55, 0.384);
}



@keyframes float {
    0% {
        top: 50%;
        left: 10%;
    }
    20% {
        top: 35%;
        left: 25%;
    }
    40% {
        top: 50%;
        left: 50%;
    }
    60% {
        top: 65%;
        left: 75%;
    }
    80%{
        top:50%;
        left:50%;
    }
    100% {
        top: 50%;
        left: 10%;
    }
}

.animate-float {
    animation: float 10s ease-in-out infinite;
}

