@import "tailwindcss";

body {
    background-color: black;
}


.shadow-gold {
    box-shadow: 0 1px 20px 1px rgba(212, 175, 55, 0.384);
}



@keyframes float {
  0%   { transform: translate(-120px, 0); }
  20%  { transform: translate(-40px, -40px); }
  40%  { transform: translate(80px, 0); }
  60%  { transform: translate(40px, 40px); }
  80%  { transform: translate(-60px, 0); }
  100% { transform: translate(-120px, 0); }
}

.animate-float {
  animation: float 10s ease-in-out infinite;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}
